.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 210px;
  background: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 100%;
}

.mobileMenu {
  display: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.mobileMenu:hover li {
  background: orange;
}

.mobileMenu li {
  width: 35px;
  height: 5px;
  background: darkblue;
  list-style: none;
}

.mobileMenu li:first-child {
  margin: 0 0 5px 0;
}

.mobileMenu li:last-child {
  margin: 5px 0 0 0;
}

.mobileMenuItemsContainer {
  /* display: none; */
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 20px;
}

.mobileMenuItems {
  margin: 70px 0 0 0;
  padding: 10px 10px;
  width: 120px;
  height: 100px;
  border-radius: 15px;
  background-color: darkblue;
}

.mobileMenuItems li {
  margin: 0 0 15px 0;
  color: white;
  list-style: none;
  font-size: 18px;
}

.mobileMenuItems li:hover {
  color: orange;
  cursor: pointer;
}

.menu,
.contact {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 400px;
}

.menu li,
.contact li {
  margin: 0 20px;
  font-size: 18px;
  letter-spacing: 1px;
  list-style: none;
  color: darkblue;
}

.menu li:hover,
.contact li i:hover {
  color: orange;
  cursor: pointer;
}

.contact li {
  color: darkblue;
}

@media (max-width: 1099px) {
  .header {
    height: 100px;
  }

  .container {
    justify-content: space-between;
  }

  .mobileMenuItemsContainer {
    height: 20px;
  }

  .mobileMenu {
    display: block;
  }

  .mobileMenuItemsContainer {
    display: block;
  }

  .menu,
  .header img {
    display: none;
  }

  .contact {
    justify-content: flex-end;
    width: 100%;
  }

  .contact li {
    margin: 0 8px;
  }
}
