.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 200px;
  background: #f9f6f6;
  position: fixed;
  top: 0;
  left: 0;
}

.header ul {
  display: flex;
  justify-content: center;
  width: 500px;
}

.header ul:first-child a {
  font-size: 18px;
  margin: 0 70px 0 0;
  color: #241a81;
  text-decoration: none;
}

.header ul:first-child a:hover {
  color: orange;
  cursor: pointer;
  transition: 0.1s;
}

.header ul:last-child li {
  list-style: none;
  font-size: 18px;
  margin: 0 30px 0 0;
  color: #241a81;
}

.header ul:last-child li i:hover {
  color: orange;
  cursor: pointer;
  transition: 0.1s;
}
